@import "bootstrap-sprockets";
@import "bootstrap";

input, textarea, .uneditable-input {
    
    border: 1px solid #d2d2d2;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 15px;
}

.wel {
    
   
    border-radius: 5px;
    width: 100%;
    margin-bottom: 15px;
}
table {
    width:100%;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;
}
table#t01 tr:nth-child(even) {
    background-color: #eee;
}
table#t01 tr:nth-child(odd) {
   background-color:#fff;
}
table#t01 th	{
    background-color: blue;
    color: white;
}

#logo {
    margin-top: 10px;
    margin-bottom: 10px;
    float: left;
    margin-right: 10px;
    font-size: 2em;
    color: blue;
    text-transform: uppercase;
    letter-spacing: -1px;
    padding-top: 9px;
    font-weight: bold;
}

#logo:hover {
    color: white;
    text-decoration: none;
}

.nav_item {
    margin-top: 15px;
    float: left;
    margin-left: 20px;
}

body {
    padding-top: 80px;
}

.newbtn {
    float: right;
    margin-right:10px;
    margin-top:60px;
    margin-bottom:5px;
}

.vertical-line {
     border-right: 2px solid black; 
}

h1 {
    color: orange;
    text-decoration: underline;
}

.footer {
    margin-top: 25px;
    border-top: 1px solid #eaeaea;
    color: #777;
}
