<header class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <%= link_to "Myassets", root_path, class:"btn btn-lg btn-success", id: "logo" %>
        <div class="nav_item">
            <%= link_to "ASSETS", lists_path, class: "btn btn-success" %>
            </div>
            <div class="nav_item">
            <%= link_to "MONITOR DETAILS", mondetails_path, class: "btn btn-success" %>
            </div>
            <div class="nav_item">
            <%= link_to "MOBILE DEVICE DETAILS", mobiledevices_path, class: "btn btn-success" %>
        </div>
    </div>
</header>